body {
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    margin: -10px;
}
 .headerLogo {
    font-size: 24px;
    margin-left: 360px;
    color: #F9FAF8;
 }

 .headerLink {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 360px;
 }

 .headerLink h2 {
    padding: 8px 24px;
    font-size: 16px;
    color: #E5E7Eb;
    font-weight: 500;
 }

 .hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: -10px;
    padding: 124px 360px;
 }

.herotext {
    margin: 144px;

}

 .heroText h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 2px;
    margin-top: -60px;
    text-align: left;
 }

 .heroText p {
    font-size: 18px;
    color: #E5E7Eb;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 8px;
 }

 .heroText button {
    font-size: 24px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    padding: 8px 24px;
    margin-top: 0px;
    font-weight: 900;
 }
 .heroImage {
    background-color: #aaaaaa;
    color: white;
    justify-content: center;
    align-items: center;
    margin: -10px;
    flex: 1 0.1 auto;
 }
 .image {
    padding: 120px 225px;
    font-size: 18px;
 }

 .infoHeader {
   text-align: center;
   font-size: 32px;
   font-weight: 900;
   color: #1F2937;
   margin: 100px;
 }
 .infoImages {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 400px;
   gap: 110px;
 }

 .blueBox {
   outline: 5px solid #3882F6;
   border-radius: 10px;
   padding: 100px 0px;
 }

 .infoImages p {
   font-size: 18px;
   color: #1f2937;
   font-weight: 500;
   text-align: center;
 }

 .quoteBox {
   background-color: #E5E7Eb;
 }
 .quote {
   font-size: 36px;
   font-style: italic;
   padding: 100px 360px 10px;
   font-weight: 100;
   color: #1F2937;
   margin-bottom: 0px;
 }

 .quoteName {
   font-size: 22px;
   font-weight: 900;
   padding: 5px 360px 100px;
   margin-top: 0px;
   text-align: right;
 }

 .actionCall {
   background-color: #3882F6;
   border-radius: 8px;
   margin: 100px 360px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 220px;
   padding: 30px 20px;
 }
.actionCall h1 {
   color: #F9FAF8;
   font-size: 22px;
   margin-bottom: 2px;
  }

.actionCall p {
   color: #F9FAF8;
   font-size: 16px;
   margin-top: 0px;
}

.actionCall button {
   font-size: 24px;
   color: #F9FAF8;
   background-color: #3882F6;
   border: 0px;
   outline: 3px solid #F9FAF8;
   border-radius: 8px;
   padding: 8px 24px;
   font-weight: 900;
}

footer {
   background-color: #1F2937;
   margin: 0px -10px -30px;
}

footer p {
   color: #F9FAF8;
   padding: 50px;
   text-align: center;
}

